<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.AdministorMapper">
    <!--基本字段-->
    <sql id="Base_Column_List">
        admin_id,admin_number,password,name,telephone,email,create_time,status
    </sql>
    <!--建立对应关系-->
    <resultMap id="administorMap" type="administor">
        <id column="admin_id" property="adminId"/>
        <result column="admin_number" property="adminNumber"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <!--根据管理员登录账号查询-->
    <select id="findByAdminNumber" parameterType="string" resultMap="administorMap">
        SELECT
        <include refid="Base_Column_List"/>
         FROM administor WHERE admin_number = #{adminNumber} and status = 0
    </select>
</mapper>